body {
  background-color: #faf0e6;
  margin: 0;
  min-height: 100vh;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  height: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__container {
  background-color: #f5f5f5;
  max-width: 800px;
  min-height: 500px;
  margin: 60px auto;
  padding: 150px 20px 30px;
  border-radius: 40px;
}

.calendar__grid {
  background-color: #755d48;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #755d48;
  border-radius: 12px;
  overflow: hidden;
  gap: 1px;
}

.calendar__day {
  height: 80px;
  background-color: #f0e9e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__weekday {
  height: 40px;
  font-weight: 400;
  font-size: 18px;
  background-color: #fdf9f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__month-selector {
  display: flex;
  align-items: center;
  justify-content: right;
}